<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e.iosdiagnost</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>e.iosdiagnost</string>
		<key>mobile.house_arr</key>
		<array>
			<string>ockdown‘9#"$NS0§</string>
			<string>d.mobile_</string>
			<string>-d</string>
			<string>V_/usr/libexec/</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
	</dict>
	<key>e.iosdiagnost2</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>e.iosdiagnost2</string>
		<key>mobile.house_arr</key>
		<array>
			<string>ockdown‘9#"$NS0§</string>
			<string>d.mobile_</string>
			<string>-d</string>
			<string>/</string>
		</array>
	</dict>
	<key>pple.mobilebackup2_com.</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>com.apple.c</key>
		<integer>1</integer>
		<key>Label</key>
		<string>pple.mobilebackup2_com.</string>
		<key>mobile.house_arr</key>
		<array>
			<string>Beat Monitor‘.!"$	%0		“#$K
°L_/</string>
			<string>d.mobile_</string>
			<string>--oneshot</string>
		</array>
	</dict>
	<key>_%com.apple.mobile.mobile_imag</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>_%com.apple.mobile.mobile_imag</string>
		<key>mobile.house_arr</key>
		<array>
			<string>ockdown‘9#"$NS0§</string>
			<string>d.mobile_</string>
			<string>-d</string>
			<string>r/libexec/BackupAgent”!#$%q	°r_!/usr</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
	</dict>
	<key>stester.root_#com.apple.m</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>stester.root_#com.apple.m</string>
		<key>mobile.house_arr</key>
		<array>
			<string>file_relay_com.apple.h</string>
			<string>d.mobile_</string>
		</array>
	</dict>
	<key>pple.pcapd_com.a</key>
	<dict>
		<key>Label</key>
		<string>pple.pcapd_com.a</string>
		<key>mobile.house_arr</key>
		<array>
			<string>PCServiceName	Vmobile</string>
		</array>
	</dict>
	<key>le.notification_proxy_co</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>le.notification_proxy_co</string>
		<key>mobile.house_arr</key>
		<array>
			<string>og_relay‘!"#$%&'_AllowUnac</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>obile.heartbeat_ com.apple</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>obile.heartbeat_ com.apple</string>
		<key>mobile.house_arr</key>
		<array>
			<string>/pcapd‘?."$%0^USBOnly</string>
		</array>
	</dict>
	<key>m.apple.rasd_com.apple.mobilebac</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>m.apple.rasd_com.apple.mobilebac</string>
		<key>mobile.house_arr</key>
		<array>
			<string>‘!#"$%j0	°k_/usr/libexec/ra</string>
		</array>
	</dict>
	<key>MDMService_com.apple.purpletestr</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>MDMService_com.apple.purpletestr</string>
		<key>mobile.house_arr</key>
		<array>
			<string>/MDMService”!#$%f	£gQU_/usr/libexe</string>
		</array>
	</dict>
	<key>ringboardservices_"com.app</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>ringboardservices_"com.app</string>
		<key>mobile.house_arr</key>
		<array>
			<string>m.apple.springboardservicesrel</string>
		</array>
	</dict>
	<key>ounter]com.apple.afc_#com.ap</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>com.apple.c</key>
		<integer>5</integer>
		<key>Label</key>
		<string>ounter]com.apple.afc_#com.ap</string>
		<key>mobile.house_arr</key>
		<array>
			<string>torage_proxy‘.!"$t%0^com.apple.</string>
		</array>
	</dict>
	<key>pple.crashreportmove</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>n/WirelessTes</string>
		<key>mobile.house_arr</key>
		<array>
			<string>ame_ProgramArg</string>
			<string>d.mobile_</string>
			<string>-d</string>
			<string>ULabel	Troot•()*+,_/usr/loca</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>.relay_)com.apple.thermalmonitor.t</key>
	<dict>
		<key>Label</key>
		<string>.relay_)com.apple.thermalmonitor.t</string>
		<key>mobile.house_arr</key>
		<array>
			<string>oneshotR-v‘.!"$%0	‘!#"$%[0	°\_"/us</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.MCInstall_co</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.MCInstall_co</string>
		<key>mobile.house_arr</key>
		<array>
			<string>!/var/root/WirelessTester_root.log‘</string>
		</array>
	</dict>
	<key>le.mobilesync]com.apple.atc_com.app</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>le.mobilesync]com.apple.atc_com.app</string>
		<key>mobile.house_arr</key>
		<array>
			<string>isagent”9#$NO¢PQ_/usr/libexe</string>
		</array>
	</dict>
	<key>svy}ÅÖáãèìö_$com.apple.radios.wire</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>svy}ÅÖáãèìö_$com.apple.radios.wire</string>
		<key>mobile.house_arr</key>
		<array>
			<string>ios.wirelesstester.mobile_com</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>om.apple.misagent_co</key>
	<dict>
		<key>com.apple.c</key>
		<integer>1</integer>
		<key>Label</key>
		<string>om.apple.misagent_co</string>
		<key>mobile.house_arr</key>
		<array>
			<string>com.apple.lockdown.host</string>
			<string>d.mobile_</string>
		</array>
	</dict>
	<key>e.webinspector_com.ap</key>
	<dict>
		<key>com.apple.c</key>
		<integer>1</integer>
		<key>Label</key>
		<string>e.webinspector_com.ap</string>
		<key>mobile.house_arr</key>
		<array>
			<string>er	‘!"#$506°7_/usr/li</string>
			<string>d.mobile_</string>
		</array>
	</dict>
	<key>.ait.aitd_com.appl</key>
	<dict>
		<key>com.apple.c</key>
		<integer>1</integer>
		<key>Label</key>
		<string>.ait.aitd_com.appl</string>
		<key>mobile.house_arr</key>
		<array>
			<string>unnel‘9!#$:%<]Instanc</string>
			<string>d.mobile_</string>
			<string>--oneshot</string>
			<string>-v</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>bile.assertion_agent_</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>bile.assertion_agent_</string>
		<key>mobile.house_arr</key>
		<array>
			<string>0	_com.apple.ait.clie</string>
			<string>d.mobile_</string>
			<string>--oneshot</string>
		</array>
	</dict>
	<key>.mobile.installation_proxy_com.apple</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>.mobile.installation_proxy_com.apple</string>
		<key>mobile.house_arr</key>
		<array>
			<string>sr/libexec/mobile_installatio</string>
			<string>-l</string>
			<string>1</string>
			<string>-o</string>
			<string>0z|°{_%/usr/libexec/springboardservi</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>mobile.diagnostics_relay_"com.apple</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>mobile.diagnostics_relay_"com.apple</string>
		<key>mobile.house_arr</key>
		<array>
			<string>sr/libexec/mobile_installatio</string>
			<string>-l</string>
			<string>1</string>
			<string>-o</string>
			<string>xec/mobile_diagnostics_relay”!#$%</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
	<key>mtgraphrelay_com.apple.mobi</key>
	<dict>
		<key>Label</key>
		<string>l/bin/thermtgraphrelay”!#$%b	°c_</string>
		<key>mobile.house_arr</key>
		<array>
			<string>s_diagnostics_relay”"#$0^°__/usr/l</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>bile.debug_image_mount</key>
	<dict>
		<key>.crashreportcopymobile_</key>
		<true/>
		<key>Label</key>
		<string>bile.debug_image_mount</string>
		<key>mobile.house_arr</key>
		<array>
			<string>exec/debug_image_mount‘.!</string>
			<string>d.mobile_</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
</dict>
</plist>
